# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock
lib-cov

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# MongoDB data directory
data

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Windows
Thumbs.db
Desktop.ini

# VS Code
.vscode/
